<div class="container">
    <h1>User administration page</h1>
</div>

<div id="grid" class="container">

</div>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.all.min.js"></script>
<script src="~/js/UserGrid.js"></script>
<script></script>