@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyIdentity> SignInManager
@inject UserManager<MyIdentity> UserManager

<ul class="navbar-nav">

    <li>
        <form action="/Home/Search" method="GET" id="searchform">
            <div class="input-group">
                <input id="s" class="form-control" type="text" name="s" size="20" placeholder="Search" />
                <input class="btn btn-primary" id="searchsubmit" type="submit" value="Search" />
            </div>
        </form>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <li>
        <a href="" class="dropdown-item btn btn-outline-info btn-lg ml-auto font-weight-bold" id="theme-toggler" onclick="toggleTheme()"></a>
    </li>
</ul>

<script>

</script>