<div class="row justify-content-md-center">
    <div class="col-md-9">
        <div class="row pb-3">
            <div class="col">
                <h3>
                    Your collections
                </h3>
            </div>
            <div class="col float-right">
                <a href="#" class="btn btn-primary float-right">Create collection</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://images11.popmeh.ru/upload/img_cache/893/8937fa9e3728cfe90dea1a3aa5b520e1_cropped_666x375.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Collection`s name</h5>
                    <h7 class="card-title">Collection`s topic</h7>
                    <p class="card-text">Collection`s description</p>
                    <div class="row justify-content-end">
                        <a href="#" class="btn btn-primary">Viewing</a>
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-secondary">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>