@using Newtonsoft.Json;
@model ICollection<Collection>
@Html.Hidden("EditUrl", Url.Action("CollectionsCreatorEditor", "Collection", new { userid = ViewData["userid"].ToString(), id = "__id__" }))
@Html.Hidden("ViewUrl", Url.Action("Index", "Collection", new { id = "__id__" }))
@{
    foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.Description))
        {
            item.Description = MarkdownParser.Parse(item.Description);
        }
    }
    var Collections = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div class="row justify-content-md-center">
    <div class="col-md-9">
        <div class="row pb-3">
            <div class="col">
                <h3>
                    Your collections:
                </h3>
            </div>
            <div class="col float-right">
                <a href="@Url.Action("CollectionsCreatorEditor","Collection",new { userid = ViewData["userid"].ToString()})" class="btn btn-primary float-right">Create collection</a>
            </div>
        </div>
        <div id="collections" class="col">
            <hr />
        </div>
    </div>
</div>

<script src="~/js/Collection.js"></script>

<script>
    var collections = @Html.Raw(Collections);
    window.onload = function () {
        console.log(collections);
        collections.forEach(c => CreateCollCard(c.Id, c.Name, c.Topic.Name, c.Description, c.UrlImg))
    }

</script>