@Html.Hidden("ViewUrlItem", Url.Action("Index", "Item", new { id = "__id__" }))
@{ 
    var s = ViewData["s"] != null ? ViewData["s"].ToString() : "";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input id="ser" class="form-control" type="text" size="20" placeholder="Search" value='@s' />
                <button class="btn btn-primary" id="searchstart">Search</button>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-3"><h4>Search results:</h4></div>
    </div>
</div>

<div id="items" class="card-columns pt-4"></div>

<script src="~/js/Item.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    var s = '@Html.Raw(ViewData["s"] != null ? ViewData["s"].ToString() : "")'
    var t = '@Html.Raw(ViewData["t"] != null ? ViewData["t"].ToString() : "")'
    var conres = $('#items');
    window.onload = function () {
                            if (s) Search(s)
        if (t) TagSearch(t)
    }

    $('#searchstart').click(function () {
                            var s = $('#ser').val()
        Search(s);
                        })

    var Search = function (s) {
        $.get('/Home/GetSearchResult', { s: s }, function (items) {
                            conres.html("");
                            items.forEach(c => CreateItemCard(c.id, c.name, c.tags, c.whoLiked.length))
        })
    }
                    var TagSearch = function (t) {
        $.get('/Home/GetResultByTags', { t: t }, function (items) {
                        console.log(items)
            conres.html("");
                        items.forEach(c => CreateItemCard(c.id, c.name, c.tags, c.whoLiked.length))
        })
    }
</script>
